<form ng-submit="vm.add(state1.$valid)" name="state1" novalidate>
	<div class="form-group" ng-class="{ 'has-error' : state1.first.$invalid && !state1.first.$pristine }">
		<label>{{vm.question}}</label>
		<input
			class="form-control"
			ng-model="vm.first"
			name="first"
			type="text"
			required
			ng-minlength="2"
			ng-maxlength="10">
		<p ng-show="state1.first.$invalid && !state1.first.$pristine" class="help-block">
			You must answer this question.
		</p>
		<p ng-show="state1.first.$error.minlength" class="help-block">
			Your name must be at least 2 letters long
		</p>
		<p ng-show="state1.first.$error.maxlength" class="help-block">
			Your name can't be longer than 10 letters
		</p>
	</div>
	<button
		type="submit"
		class="btn btn-primary"
		ng-disabled="state1.$invalid">Next</button>
</form>
<!-- INPUT
ng-model="{ string }"
name="{ string }"
required
ng-required="{ boolean }"
ng-minlength="{ number }"
ng-maxlength="{ number }"
ng-pattern="{ string }"
ng-change="{ string }"

look at ngMessages

ng-class= ad classes based on an expression

-->
